<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BancoProblema1._3.Properties.Settings.bancoConnectionString"
            connectionString="Data Source=AGUSTINBISTOCCO\SQLEXPRESS;Initial Catalog=banco;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>